@font-face {
  font-family: "Open Sans";
  src: url(./assets/fonts/open-sans/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "PT Sans";
  src: url(./assets/fonts/pt-sans/PTS55F.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "PT Sans Narrow";
  src: url(./assets/fonts/pt-sans/PTN57F.ttf) format("truetype");
}
@font-face {
  font-family: "Asap";
  src: url(./assets/fonts/asap/Asap-Regular.otf) format("opentype");
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.content {
  max-width: 1020px;
  margin: 0 auto;
}

.wrapper {
  background: url(./assets/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
}

header {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.logo {
  position: relative;
  width: 83px;
  height: 83px;
  margin-right: 10px;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 41px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Lucida Sans";
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}
nav {
  align-self: flex-end;
  margin-left: auto;
}

.main-nav {
  display: flex;

  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
  padding-left: 20px;

  box-shadow: -5px -5px rgba(245, 197, 5, 0.25),
    -10px -10px rgba(245, 197, 5, 0.25);
}

.main-nav li {
  padding: 12px 20px 13px 45px;
}

.main-nav li:not(:first-child) {
  border-left: 1px solid #dcb105;
}

.main-nav a {
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 0px;
  color: #9b7d08;
  font-family: "Segoe WP";
  text-align: center;
  text-transform: uppercase;
}

.main-nav-contact {
  background-image: url(/assets/images/icon_person.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
}

.main-nav-services {
  background-image: url(/assets/images/icon_settings.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
}

.main-nav-about {
  background-image: url(/assets/images/icon_mail.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
}

.banner {
  padding-top: 35px;
  padding-left: 10px;
  display: flex;
}

.banner video {
  width: 550px;
  height: 330px;
}

.button-prev {
  width: 32px;
  height: 57px;
  background-image: url(/assets/images/prev.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(245, 197, 6, 0.7);
  border: none;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -27.5px;
}
.button-next {
  width: 32px;
  height: 57px;
  background-image: url(/assets/images/next.svg);
  background-color: rgba(245, 197, 6, 0.7);
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -27.5px;
}
.video-wrapper {
  position: relative;
}

.video-controls {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 20px;
  width: 100%;
}

.video-controls-progress {
  background-color: rgba(245, 197, 6, 0.25);
  border-radius: 5px;
  flex: 1;
  height: 10px;
  overflow: hidden;
}

.video-progress {
  background-color: #f5c507;
  width: 40%;
  height: 10px;
}

.video-controls-play,
.video-controls-mute {
  margin: 0 30px;
}
.banner-name {
  display: flex;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.cool {
  font-size: 63px;
  letter-spacing: 1px;
  color: #f5c506;
  font-family: "Asap";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.minimal {
  font-size: 63px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Asap";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}

.icon-area {
  background: url(/assets/images/bg-icons-area.png);
}

.icon-area-wrapper {
  display: flex;
  align-items: flex-end;
  padding: 35px;
  font-size: 27px;
  letter-spacing: 0px;
  color: #000000;
  font-family: "Segoe UI";
  font-weight: 300;
  text-align: center;
}

.icon-area-item {
  flex: 1;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.icon-area-img {
  margin-bottom: 15px;
  flex-basis: 60%;
}

.devices {
  background: url(/assets/images/bg-devices.png);
  padding-bottom: 100px;
}

h2 {
  font-size: 43px;
  letter-spacing: 0px;
  color: #f5c506;
  font-family: "PT Sans";
  text-transform: uppercase;
  text-align: center;
  padding-top: 45px;
}

.discount {
  background: #f5c506;
  border-radius: 50%;
  position: absolute;
  width: 116px;
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 19px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  text-transform: uppercase;
  top: -40px;
}

.devices-item {
  display: flex;

  font-size: 22px;
  letter-spacing: 0px;
  color: #a9a9a7;
  font-family: "Open Sans";
  font-weight: 400;
  position: relative;
  margin-top: 45px;
}

.devices-item ul {
  font-size: 22px;
  letter-spacing: 0px;
  color: #a9a9a7;
  font-family: "Open Sans";
  font-weight: 400;
  margin-left: 100px;
  position: relative;
}

.devices-item ul li {
  margin: 30px 0 10px 20px;
}

.devices-item ul li::before {
  content: "";
  background-color: #f5c506;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
}

.devices-img {
  padding-left: 15px;
}

footer {
  background-color: #4c4c4c;
  box-shadow: -0.105px -2.998px 5px rgba(0, 0, 0, 0.75);
  padding: 5px 0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
}

.footer-logo {
  position: relative;
  width: 54px;
  height: 54px;
  margin-right: 10px;
}

.footer-logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-text {
  font-size: 29px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Lucida Sans";
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1.732px 0px rgba(0, 0, 0, 0.42);
}
